table.dataTable tbody tr:hover td {
  border-top: red 1px solid;
  border-bottom: red 1px solid;
}

.table > :not(caption) > * > * {
  padding: 0rem;
}

table.dataTable > thead .sorting:before, table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:before, table.dataTable>thead .sorting_desc_disabled:after {
bottom: 0rem;
display: inline-block;
}
